.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.wrapper>div {
  background: #eee;
  padding: 1em;
}

.wrapper>div:nth-child(odd) {
  background: #ddd;
}

#accounts {
  grid-column: 1/2;
}

#calendar {
  grid-column: 2/4;
}

#operation-buttons {
  grid-column: 1/4;
}

#email-list {
  grid-column: 1/4;
}

/* so dropdown menu wont fall behing modal
now its static on the page need to fix */
.ui-timepicker{
  position: absolute;
  z-index: 9000 !important;
}